.board {
	height: calc(100vh - 50px);
	display: flex;
	place-content: center;
}
.board-grid {
	display: grid;
	max-height: 380px;
	padding: 10px 20px;
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 5px
}

.board-row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
}

.board-tile {
	display: inline-flex;
	place-content: center;
	border: 2px solid var(--border-color);
	width: 100%;
}

