body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--page-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	max-width: 500px;
	margin: auto;
}

:root {
	--page-color: #121213;
	--border-color: #3a3a3c;
	--text-color: #d7dadc;
	--menu-color: #565758;
	--correct-color: rgb(83, 141, 78);
	--present-color: rgb(181, 159, 59);
	--wrong-color: rgb(58, 58, 60);
}
