body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--page-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	max-width: 500px;
	margin: auto;
}

:root {
	--page-color: #121213;
	--border-color: #3a3a3c;
	--text-color: #d7dadc;
	--menu-color: #565758;
	--correct-color: #53ab4c;
	--present-color: rgb(215 184 41);
	--wrong-color: #f75858;
	--key-bg: #818384;
	--key-color: #d7dadc;
	--modal-border-color: #1a1a1b;
	--modal-background-color: #121213;
}
